.other-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .other-services-heading {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color:white;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .card:hover .card-image {
    transform: scale(1.1);
  }
  
  .card-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 0;
  }
  
  /* Animation Keyframes */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .card {
    animation: fadeIn 0.5s ease-out;
  }
  
  .other-services-heading {
    animation: slideIn 0.5s ease-out;
  }
  